{% extends "_main.html" %}

{% block title %} Home {% endblock %}

{% block main %}

Blogovanie sa začalo dostávať do povedomia používateľov internetu koncom 90. rokov 20. storočia. Weblog v tej dobe sa zameriaval na zhromažďovanie odkazov, týkajúcich sa určitej témy a odkazov na nové články, vzťahujúce sa k danej téme. Okrem toho editor weblogu pripojil ku každej uvedenej linke svoj vlastný krátky komentár. Tieto weblogy fungovali ako filter a vyhľadávali www stránky. Historicky weblogom predchádzali internetové katalógy, kroniky, denníky, diskusné skupiny, BBS, mailing listy, žurnály.

{% endblock%}
